appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics
ipython
jupyter
pandas
numpy
requests
pybedtools
seaborn
matplotlib