{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container">
<center>
<h1 style="padding:2rem 0 0 0">Patient Cohorts RNA-seq Viewer</h1>
<p>  An appyter for the visualization and analysis of intra-cancer patient clusters based on RNA-Seq profiles and clinical data </p>
</center>
</div>
{{ super() }}
{% endblock %}
