appyter @ git+https://github.com/Maayanlab/appyter
dash
numpy
pandas
fisher
scipy
react-scatter-board @ git+https://github.com/maayanlab/react-scatter-board
plotly
requests
matplotlib
ipython
networkx