appyter @ git+https://github.com/Maayanlab/appyter
dash==2.18.1
numpy==1.24.4
pandas==2.0.3
fisher==0.1.14
scipy==1.10.1
react-scatter-board @ git+https://github.com/maayanlab/react-scatter-board
plotly==5.24.1
requests==2.32.3
matplotlib==3.7.5
ipython==8.12.3
networkx==3.1
