{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
<style>

body {
  font: 16px Arial;  
  margin-top: 10%;
  text-align: center;
}
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-3 row align-items-center">
        <div class="col-3">
            <img src="{{ url_for('static', filename='drugmonizome-ml-icon.png') }}" style="width:150px" class="img-fluid float-right">
        </div>
        <div class="col-7">
            <h1> Drugmonizome-ML </h1>
            <p class="my-0"> Construct a machine learning pipeline to predict novel drug indications or other attributes from perturbation studies and small molecule features. </p>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}

{% block script %}
<script>
require(['jquery'], function ($) {
  $(document).ready(function () {
    $('form').submit(function (e) {
      e.preventDefault();
      // Replace files with text elements
      $('form [type="file"]').each(function () {
        $(this).attr('type', 'text')
      })
      // Handle multi-checkbox-fields
      $('.multi-checkbox-field').each(function (e) {
        var self = $(this)
        var target = $(self.attr('data-target'))
        var value = self.find('input[type="checkbox"]').filter(function () {
          return this.checked
        }).map(function () {
          return this.parentNode.innerText.trim()
        })
        target.val(JSON.stringify(Array.from(value)))
      })
      // Handle tabs in target fields
      $('[role="tablist"]').each(function () {
        var self = $(this)
        var target = $(this).attr('target')
        var value = self.find('[role="tab"].active').attr('target')
        $(target).val(value);
      })
      // Submit form
      this.submit()
    })
  })
})
</script>
{{ super() }}  
<script src="{{ url_for('static', filename='AutocompleteField.js') }}" > </script>
<script>
require(['jquery'], function ($) {
  $(document).ready(function() {
    $('.autocomplete').each(function () { // this runs for *all* auto complete fields
      var name = $(this).attr('name');
      var file_path = $(this).attr('data-target');
      runall($, name, file_path);
    })
  })
})
</script>
{% endblock %}
