appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.5.5

pandas
numpy
plotly
matplotlib
ipython
bokeh==2.3.2
jinja2>=3.0,<3.1
fastcluster
scipy
scikit-learn
umap-learn
seaborn
