appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.5.5

ipython
jupyter
pandas
numpy
scipy
matplotlib
seaborn
fastcluster
requests
plotly-express
tqdm
scikit-learn
umap-learn