# python dependencies should be collected and kept in this file
#  one line for each dependency. this file can be used to install
#  dependencies with `pip install -r requirements.txt`
appyter
numpy
pandas
ipython
scikit-learn
bokeh
glasbey
plotly
igraph
leidenalg
scanpy
dash
dash_cytoscape