appyter_tag=
appyter_version=0.18.5
DOCKER_REGISTRY=maayanlab
POSTGRES_PASSWORD=appyter
APPYTERS_DATA_DIR=s3://bucket/appyters/#?client_kwargs.endpoint_url=https://s3.amazonaws.com&key=AWS_ACCESS_KEY&secret=AWS_SECRET_KEY
server_name=localhost

# if using tls (--tls)
letsencrypt_email=

# if using minio (--minio)
#APPYTERS_DATA_DIR=s3://storage/appyters/#?client_kwargs.endpoint_url=http://appyters-s3:9000&key=${MINIO_ACCESS_KEY}&secret=${MINIO_SECRET_KEY}
MINIO_ACCESS_KEY=access
MINIO_SECRET_KEY=secret

# if using auth
keycloak_url=https://keycloak.maayanlab.cloud/auth/
keycloak_realm=appyters
keycloak_client_id=appyter-catalog
PGRST_JWT_SECRET=
PGRST_ROLE_CLAIM_KEY=