__pycache__
.build
.deploy
.DS_Store
.env
.ipynb_checkpoints
.publish
.pyc
*-checkpoint.ipynb
\.tmp/
app/public/appyters.json
data/
docker-compose.yml
venv
appyters/Tumor_Gene_Target_Screener/Mammalia/Homo_sapiens.gene_info.tsv
