git+git://github.com/Maayanlab/appyter.git
git+git://github.com/Maayanlab/maayanlab-bioinformatics.git
pandas
os
random
time
math
numpy
base64
h5py
umap
plotly
matplotlib
pyarrow
seaborn
IPython
chart_studio
uuid
urllib
json
requests
operator
leidenalg
igraph
itertools
scipy
sklearn
rpy2
utils
bokeh==2.0.2
