{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-3 row align-items-center">
        <div class="col-3">
            <img src="{{ url_for('static', filename='manhattan-icon.png') }}" style="width:150px" class="img-fluid float-right">
        </div>
        <div class="col-7">
            <h1> Create a Manhattan Plot </h1>
            <p class="my-0"> Create a manhattan plot to visualize your enrichment analysis results. The output figures display all the p-values comparing the input gene set to the gene sets in the Enrichr libraries selected. </p>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}