{% extends "biojupies/base.j2" %}

{% block style %}
  {{ super() }}
  <link rel="stylesheet" href="https://raw.githack.com/MaayanLab/clustergrammer/reusable/lib/css/font-awesome.min.css">
{% endblock %}