{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
            <h1 class = 'text-center'> DODGE Chemical Structure Similarity Appyter </h1>
            <p style= "text-align:center;margin:30px"> This Appyter outputs prioritized lists of small molecules related to an input small molecule based on chemical structure similarity and gene expression signature similarity.
             <br><br>Input a LINCS small molecule name of interest into the autocomplete field to receive a prioritized list of small molecules associated with the input based on Tanimoto structural similarity and L1000 gene expression signature similarity.
             </p>

{{ super() }}
{% endblock %}