{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="row">
<div class="col-sm-12">
<div class="container">
<h1>ChEA3 Appyter</h1>
</div>
</div>
</div>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='chea3_appyter_logo.png') }}"></script>
{% endblock %}
