{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container">
<h1>GTEx Tissue RNAseq Analysis</h1>
</div>
{{ super() }}
{% endblock %}
