{% extends "biojupies/base.j2" %}

{% block head %}
{{ super() }}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-6277639-47"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-6277639-47');
</script>
{% endblock head %}

{% block script %}
{{ super() }}
<script>
define('pagehit', ['jquery'], function ($) {
  return function (view) {
    var base_url = window.location.origin
    var app = window.location.pathname.split('/')[1]
    $.ajax({
      url: base_url + '/postgrest/rpc/pagehit',
      method: 'POST',
      cache: false,
      headers: {
        'Content-Type': 'application/json'
      },
      data: JSON.stringify({
        pageurl: base_url + '/' + app + (view !== undefined ? ('#' + view) : ''),
      }),
    }).done(function (response, textStatus) {
      if (textStatus !== 'success') {
        console.error('Error ' + textStatus)
      }
    })
  }
})
</script>
{% endblock %}
