{% extends "biojupies/form.j2" %}
​
{% block head %}
{{ super() }}
{% endblock %}
​
{% block style %}
{{ super() }}
{% endblock %}
​
{% block body %}
<div class="container">
    <div class="mt-3 row align-items-center">
        <div class="col">
            <h1> L1000KD<sup>2</sup> </h1>
            <p class="my-0"> Explore 24,187 gene knockdown signatures to learn more about genes! 
            Compare your signature to the signatures resulting from shRNA gene knockdown of 2,991 genes.</p>
        </div>
    </div>
</div>
{{ super() }}
{% endblock %}