{% extends "biojupies/base.j2" %}
{% block head %}
<title>Augmented Pathway Enrichment Analysis</title>  
<link rel="shortcut icon" href="{{ url_for('static', filename='gene-library-3.png') }}"/>
<link rel="icon" href="{{ url_for('static', filename='analysis.png') }}">  
{% endblock %}
