git+git://github.com/Maayanlab/geode.git
git+git://github.com/Maayanlab/appyter.git
git://github.com/Maayanlab/maayanlab-bioinformatics.git
ipykernel
matplotlib_venn
rpy2
magic-impute
pandas
urllib3
requests
plotly
matplotlib
scipy
stats
sklearn
numpy
chart_studio
pybase64