appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.5.5
ipykernel
rpy2==3.4.5
pandas
requests
plotly
matplotlib
scipy
stats
scikit-learn
numpy
pybase64
umap-learn
kaleido