appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics
clustergrammer-py @ git+https://github.com/maayanlab/clustergrammer-py@patch
numpy
pandas
scipy
ipywidgets
matplotlib
statsmodels