appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.5.5
clustergrammer @ git+https://github.com/maayanlab/clustergrammer-py@patch
numpy
pandas
scipy
ipywidgets
matplotlib
statsmodels