requests==2.32.3
biopython==1.83
numpy==1.24.4
pandas==2.0.3
matplotlib==3.7.5
appyter==0.19.27
plotly==5.24.1
wordcloud==1.9.3
scholarly==1.7.11
kaleido==0.2.1
beautifulsoup4==4.12.3
Pillow==9.5.0
google-search-results==2.4.2
parsel==1.9.1
