{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="row">
<div class="col-sm-12">
<div class="container">
    <div class="mt-3 row align-items-center">
        <div class="col-4">
            <img src="{{ url_for('static', filename='harmonizome_logo.svg') }}" style="width:100px" class="img-fluid float-right">
        </div>
        <div class="col-6">
            <h1> Harmonizome ETL </h1>
            <p class="my-0"> DrugBank </p>
        </div>
    </div>
</div>
</div>
</div>
{{ super() }}
{% endblock %}
