appyter @ git+https://github.com/Maayanlab/appyter
fastcluster
requests
pandas
numpy
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.4.3

seaborn
matplotlib
umap-learn
qnorm
scipy
sklearn
react-scatter-board @ git+https://github.com/maayanlab/react-scatter-board
react-GSEA @ git+https://github.com/maayanlab/react-GSEA@simplified