version: '3.4'
x-logging:
  &default-logging
  driver: 'json-file'
  options:
    max-size: '100k'
    max-file: '10'
services:
  appyters-ingress:
    build: ./deploy/traefik
    image: ${DOCKER_REGISTRY:-maayanlab}/appyters-ingress:{{ version }}
    restart: unless-stopped
    networks:
      default:
        aliases:
          - ${server_name}
          - s3.${server_name}
    command: >
      --api.insecure=true
      --providers.docker
      --providers.docker.exposedByDefault=false
      --entrypoints.web.address=:80
{%- if tls %}
      --entrypoints.web.http.redirections.entrypoint.to=websecure
      --entrypoints.web.http.redirections.entrypoint.scheme=https
      --entrypoints.websecure.address=:443
      --certificatesresolvers.letsencrypt-prod.acme.email=${letsencrypt_email}
      --certificatesresolvers.letsencrypt-prod.acme.storage=/data/acme.json
      --certificatesresolvers.letsencrypt-prod.acme.tlschallenge=true
{%- endif %}
    ports:
      - 80:80
      - 8080:8080
{%- if tls %}
      - 443:443
{%- endif %}
{%- if aws_s3_proxy %}
      - "traefik.http.routers.storageproxy.rule=(Host(`s3.${server_name}`) || Host(`${server_name}`)) && PathPrefix(`/storage`)"
      - "traefik.http.routers.storageproxy.service=storageproxy"
      - "traefik.http.services.storageproxy.loadbalancer.servers[0].url=https://s3.amazonaws.com"
      - "traefik.http.routers.storageproxy.middlewares=storageproxy-addprefix"
      - "traefik.http.middlewares.storageproxy-addprefix.addprefix.prefix=/appyter"
{%- if tls %}
      - "traefik.http.routers.storageproxy.tls=true"
      - "traefik.http.routers.storageproxy.tls.certresolver=letsencrypt-prod"
      - "traefik.http.routers.storageproxy.tls.domains[0].main=${server_name}"
      - "traefik.http.routers.storageproxy.tls.domains[1].main=s3.${server_name}"
{%- endif %}
{%- endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/ingress:/data
    logging: *default-logging
  appyters-catalog:
    build: ./app
    image: ${DOCKER_REGISTRY:-maayanlab}/appyters-catalog:{{ version }}
    restart: unless-stopped
    depends_on:
      - appyters-ingress
      - appyters-postgrest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`${server_name}`)"
      - "traefik.http.services.app.loadbalancer.server.port=80"
    logging: *default-logging
{%- if tls %}
      - "traefik.http.routers.app.tls=true"
      - "traefik.http.routers.app.tls.certresolver=letsencrypt-prod"
      - "traefik.http.routers.app.tls.domains[0].main=${server_name}"
{% endif %}
  appyters-orchestrator:
    build:
      context: ./appyter
      args:
        - appyter_version=appyter[production]@git+https://github.com/Maayanlab/appyter@${appyter_tag:-v}${appyter_version}
    image: ${DOCKER_REGISTRY:-maayanlab}/appyters-orchestrator:{{ version }}-${appyter_tag:-}${appyter_version}
    restart: unless-stopped
    ports:
      - 5000:5000
    environment:
      APPYTER_HOST: "0.0.0.0"
      APPYTER_JOBS: "3"
      APPYTER_JOBS_PER_IMAGE: "1"
      APPYTER_DISPATCH: "docker"
      APPYTER_DEBUG: "false"
    command:
      - appyter
      - orchestration
      - dispatcher
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging: *default-logging
  appyters-postgrest:
    build: ./deploy/postgrest
    image: ${DOCKER_REGISTRY:-maayanlab}/appyters-postgrest:{{ version }}
    restart: unless-stopped
    depends_on:
      - appyters-ingress
      - appyters-postgres
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.postgrest.rule=Host(`${server_name}`) && PathPrefix(`/postgrest`)"
      - "traefik.http.services.postgrest.loadbalancer.server.port=3000"
      - "traefik.http.routers.postgrest.middlewares=postgrest-stripprefix"
      - "traefik.http.middlewares.postgrest-stripprefix.stripprefix.prefixes=/postgrest"
{%- if tls %}
      - "traefik.http.routers.postgrest.tls=true"
      - "traefik.http.routers.postgrest.tls.certresolver=letsencrypt-prod"
      - "traefik.http.routers.postgrest.tls.domains[0].main=${server_name}"
{%- endif %}
    environment:
      PGRST_DB_URI: "postgres://appyters:${POSTGRES_PASSWORD}@appyters-postgres:5432/appyters"
      PGRST_DB_SCHEMA: api
      PGRST_DB_ANON_ROLE: guest
      PGRST_SERVER_PROXY_URI: "http{% if tls %}s{% endif %}://${server_name}/postgrest"
{%- if auth %}
      PGRST_JWT_SECRET: ${PGRST_JWT_SECRET}
      PGRST_ROLE_CLAIM_KEY: ${PGRST_ROLE_CLAIM_KEY}
{%- endif %}
    logging: *default-logging
  appyters-postgres:
    build: ./deploy/postgres
    image: ${DOCKER_REGISTRY:-maayanlab}/appyters-postgres:{{ version }}
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: appyters
      POSTGRES_USER: appyters
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./data/postgres/:/var/lib/postgresql/data
    logging: *default-logging
{%- if minio %}
  appyters-s3:
    build: ./deploy/minio
    image: ${DOCKER_REGISTRY:-maayanlab}/appyters-s3:{{ version }}
    restart: unless-stopped
    depends_on:
      - appyters-ingress
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.s3.rule=Host(`s3.${server_name}`) || (Host(`${server_name}`) && PathPrefix(`/storage`))"
      - "traefik.http.routers.s3.service=s3"
      - "traefik.http.services.s3.loadbalancer.server.port=9000"
{%- if tls %}
      - "traefik.http.routers.s3.tls=true"
      - "traefik.http.routers.s3.tls.certresolver=letsencrypt-prod"
      - "traefik.http.routers.s3.tls.domains[0].main=${server_name}"
      - "traefik.http.routers.s3.tls.domains[1].main=s3.${server_name}"
{%- endif %}
      - "traefik.http.routers.minio.rule=Host(`minio.${server_name}`)"
      - "traefik.http.routers.minio.service=minio"
      - "traefik.http.services.minio.loadbalancer.server.port=9001"
{%- if tls %}
      - "traefik.http.routers.minio.tls=true"
      - "traefik.http.routers.minio.tls.certresolver=letsencrypt-prod"
      - "traefik.http.routers.minio.tls.domains[0].main=minio.${server_name}"
{%- endif %}
    environment:
      MINIO_BUCKET: ${MINIO_BUCKET}
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
      MINIO_SERVER_URL: http{% if tls %}s{% endif %}://s3.${server_name}
      MINIO_BROWSER_REDIRECT_URL: http{% if tls %}s{% endif %}://minio.${server_name}
    volumes:
      - ./data/minio/.minio:/root/.minio
      - ./data/minio/:/data
    logging: *default-logging
{%- endif %}
{%- for appyter in appyters %}
  appyter-{{ appyter['name'].lower() }}:
    build:
      context: {{ os.path.relpath(appyter['path'], root_dir) }}
      dockerfile: Dockerfile
      args:
        - appyter_version=appyter[production]@git+https://github.com/Maayanlab/appyter@${appyter_tag:-v}${appyter_version}
    image: ${DOCKER_REGISTRY:-maayanlab}/appyter-{{ appyter['name'].lower() }}:{{ appyter['version'] }}-${appyter_tag:-}${appyter_version}
    command: appyter-catalog-helper entrypoint
    restart: unless-stopped
    depends_on:
      - appyters-ingress
      - appyters-orchestrator
{%- if minio %}
      - appyters-s3
{%- endif %}
    environment:
      - APPYTER_PREFIX=/{{ appyter['name'] }}/
      - APPYTER_PORT=5000
      - APPYTER_PROXY=true
      - APPYTER_DATA_DIR=${APPYTERS_DATA_DIR}
      - APPYTER_DISPATCHER=http://appyters-orchestrator:5000
      - APPYTER_DISPATCHER_URL=http://appyter-{{ appyter['name'].lower() }}:5000/{{ appyter['name'] }}
      - APPYTER_DISPATCHER_IMAGE=${DOCKER_REGISTRY:-maayanlab}/appyter-{{ appyter['name'].lower() }}:{{ appyter['version'] }}-${appyter_tag:-}${appyter_version}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ appyter['name'].lower() }}.rule=Host(`${server_name}`) && PathPrefix(`/{{ appyter['name'] }}/`)"
      - "traefik.http.services.{{ appyter['name'].lower() }}.loadbalancer.server.port=5000"
      - "traefik.http.middlewares.{{ appyter['name'].lower() }}.headers.customrequestheaders.X-Forwarded-Proto=http{% if tls %}s{% endif %}"
      - "traefik.http.routers.{{ appyter['name'].lower() }}.middlewares={{ appyter['name'].lower() }}@docker"
{%- if tls %}
      - "traefik.http.routers.{{ appyter['name'].lower() }}.tls=true"
      - "traefik.http.routers.{{ appyter['name'].lower() }}.tls.certresolver=letsencrypt-prod"
      - "traefik.http.routers.{{ appyter['name'].lower() }}.tls.domains[0].main=${server_name}"
    logging: *default-logging
{% endif %}
{%- endfor %}
