appyter @ git+https://github.com/Maayanlab/appyter
requests
pandas
numpy
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics
seaborn
matplotlib
umap-learn
scipy
qnorm
sklearn
plotly
plotly_express
jupyter-d3 @ git+https://github.com/nicolemoiseyev/jupyter-d3@v0.0.4
fastcluster
lifelines
