{% extends "biojupies/base.j2" %}
{% block head %}
<title>ChIP-seq analysis pipeline</title>  
<link rel="shortcut icon" href="../static/analysis.png"/>
<link rel="icon" href="../static/analysis.png">  
{% endblock %}
