{% extends "biojupies/base.j2" %}
{% block head %}
<title>CITE-seq analysis pipeline</title>  
<link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/65/65987.svg"/>
<link rel="icon" href="https://image.flaticon.com/icons/svg/65/65987.svg">  
{% endblock %}
