dash
dash-core-components
dash-html-components
dash-table
flask
appyter @ git+https://github.com/Maayanlab/appyter
geode @ git+https://github.com/Maayanlab/geode
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.4.3

ipython
matplotlib
matplotlib_venn
numpy
pandas
plotly
scipy
seaborn
sklearn
umap-learn
Werkzeug