git+git://github.com/Maayanlab/appyter.git
ipykernel
matplotlib_venn
rpy2
magic-impute
pandas==0.25.3
urllib3
requests
plotly
matplotlib
scipy
stats
sklearn
numpy
chart_studio
seaborn
scanpy
python-igraph
anndata
fa2
leidenalg
umap-learn
digitalcellsorter
datetime
pytest-shutil