{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-3 row align-items-center">
        <div class="col-3">
            <img src="{{ url_for('static', filename='drugshot.png') }}" style="width:450px" class="img-fluid float-right">
        </div>
        <div class="col-7">
            <h1 class = 'text-center'> DrugShot </h1>
            <p class="my-0"> This Appyter searches PubMed for articles that co-mention any search term that relates to drugs.
             <br><br>In the first input box you can enter any search term for the PubMed search.
             <br>In the second input box you can enter the number of drugs to use as positives for predicting additional drugs. 
             <br><br>DrugShot finds publications that mention both the search term and drugs. It then prioritizes these drugs using various methods, as well as predicts additional drugs based on shared properties among drugs and other small molecules. 
             </p>

        </div>
    </div>
</div>
{{ super() }}
{% endblock %}