appyter @ git+https://github.com/Maayanlab/appyter
requests
pandas
numpy
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics
fastcluster
seaborn
matplotlib
umap-learn
scipy
qnorm
sklearn
react-scatter-board @ git+https://github.com/maayanlab/react-scatter-board
react-GSEA @ git+https://github.com/maayanlab/react-GSEA@simplified
