{% extends "biojupies/form.j2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block style %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="container">
<center>
<h1 style="padding:2rem 0 0 0; vertical-align:middle"><img src="{{ url_for('static', filename='cluster-icon.svg') }}" style="height:45px;padding:0 10px 10px 0"/>Patient Cohorts RNA-Seq Viewer</h1>
<p> An appyter for the visualization and analysis of intra-cancer patient clusters based on RNA-Seq profiles and clinical data </p>
</center>
</div>
{{ super() }}
{% endblock %}


{% block script %}
{{ super() }}
<script>window.MathJax = { MathML: { extensions: ["mml3.js", "content-mathml.js"]}}; console.log("hello");</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=MML_HTMLorMML"></script>
{% endblock %}
