appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.5.5

pandas
matplotlib
seaborn
numpy
bokeh
jinja2>=3.0,<3.1
pybase64
statsmodels