appyter @ git+https://github.com/Maayanlab/appyter
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics --no-binary=fisher
fisher==0.1.9
pandas
numpy==1.21.5
seaborn
ipython
matplotlib
bokeh==2.3.2
requests
