appyter @ git+https://github.com/Maayanlab/appyter
gseapy
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.5.5
geode @ git+https://github.com/Maayanlab/geode
blitzgsea @ git+https://github.com/Maayanlab/blitzgsea
pandas
numpy
scipy
ipython
plotly
appyter
rpy2