appyter @ git+https://github.com/Maayanlab/appyter
geode @ git+https://github.com/Maayanlab/geode
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics
numba==0.50.1
ipython==7.22.0
ipykernel==5.3.4
matplotlib_venn==0.11.5
rpy2==3.4.2
magic-impute==2.0.3
pandas==1.2.3
requests==2.25.1
plotly==4.14.3
matplotlib==3.3.0
scipy==1.5.2
stats==0.1.2a0
scikit-learn==0.23.2
numpy==1.20.2
seaborn==0.10.1
scanpy==1.7.2
python-igraph==0.8.2
anndata==0.7.6
fa2==0.3.5
leidenalg==0.8.1
umap-learn==0.4.6
datetime==4.3
pytest-shutil==1.7.0
colorcet==2.0.6
bokeh==2.3.1
PyYAML==5.4.1
python-dateutil==2.8.1
pillow==8.3.2
typing-extensions==3.7.4.3
scrublet==0.2.3
bbknn==1.4.1
kaleido
