anndata==0.7.8
appyter
bbknn==1.5.1
bokeh==2.4.2
colorcet==3.0.0
fa2==0.3.5
geode @ git+https://github.com/Maayanlab/geode
kaleido==0.2.1
leidenalg==0.8.8
maayanlab-bioinformatics @ git+https://github.com/Maayanlab/maayanlab-bioinformatics@v0.4.3
magic-impute==3.0.0
matplotlib_venn==0.11.6
matplotlib==3.5.1
numba==0.55.0
numpy==1.21.5
palantir==1.0.0
pandas==1.3.5
plotly==5.5.0
python-igraph==0.9.9
requests==2.27.1
rpy2==3.4.5
scanpy==1.8.2
scikit-learn==1.0.2
scipy==1.7.3
scrublet==0.2.3
seaborn==0.11.2
stats==0.1.2a
umap-learn==0.5.2